In [58]:
import pandas as pd
import numpy as np

In [57]:
df=pd.read_csv('Desktop\Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
result=df.head(11)
print(result)

    #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0   1                  Bulbasaur  Grass  Poison    318  45      49       49
1   2                    Ivysaur  Grass  Poison    405  60      62       63
2   3                   Venusaur  Grass  Poison    525  80      82       83
3   3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4   4                 Charmander   Fire     NaN    309  39      52       43
5   5                 Charmeleon   Fire     NaN    405  58      64       58
6   6                  Charizard   Fire  Flying    534  78      84       78
7   6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8   6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9   7                   Squirtle  Water     NaN    314  44      48       65
10  8                  Wartortle  Water     NaN    405  59      63       80

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        65       65     45           1      False
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
9        50       64     43           1      False
10       65       80     58           1      False

In [24]:
df["Type 1"]

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [25]:
df["Type 2"]

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object

In [118]:
Type1=df['Type 1'].unique()
Type2=df['Type 2'].unique()

unique_types=pd.concat([df['Type 1'], df['Type 2']]).unique()
print(unique_types)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying' nan]

In [120]:
type(unique_types)

numpy.ndarray

In [202]:
df.loc[df['Name'].str.contains("Mega"),'Name'] = 'Mega' + df['Name'][df['Name'].str.contains("Mega")].str.split
#df['Name'].apply(lambda x: x.replace('*Mega*', ''))
df.head(10)

TypeError: can only concatenate str (not "method") to str

In [203]:
df['A/D Ratio'] = df['Attack']/df['Defense']
df['A/D Ratio']

0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
         ...
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: A/D Ratio, Length: 800, dtype: float64

In [141]:
max_Pokemon=df['A/D Ratio'].max()
df[df['A/D Ratio']==max_Pokemon]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo-Type,ComboType,A/D Ratio_Max5
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0,NaN,NaN,1.8

In [142]:
min_Pokemon=df['A/D Ratio'].min()
df[df['A/D Ratio']==min_Pokemon]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo-Type,ComboType,A/D Ratio_Max5
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,BugRock,Bug-Rock,0.043478

In [145]:
df.loc[df['Type 2'].isnull()==False, 'Combo Type']=df[['Type 1', 'Type 2']].astype(str).apply('-'.join, axis=1)
df.loc[df['Type 2'].isnull()==True, 'Combo Type']=df['Type 1']

In [166]:
#df['A/D Ratio'].sort_values()
#df.sort_values(by=['A/D Ratio', 'Name'])
#top5=df.nlargest(5, 'A/D Ratio', keep='last')
top_5=df.sort_values('A/D Ratio', ascending=False)[:5]
top_5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo-Type,ComboType,A/D Ratio_Max5,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,NaN,NaN,1.800000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,WaterDark,Water-Dark,1.084337,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,BugPoison,Bug-Poison,3.000000,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,NaN,NaN,1.582278,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,WaterDark,Water-Dark,1.445783,Water-Dark

In [187]:
#df.nsmallest(5, 'A/D Ratio', keep='last')

In [196]:
#top5_combo = sorted(df.loc['A/D Ratio','ComboType'].unique())
top5_combo = sorted([top_5['Combo Type'].unique()])
top5_combo

[array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)]