In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    precision_recall_curve, roc_curve, roc_auc_score
    
)
from sklearn.model_selection import GridSearchCV

In [3]:
data=pd.read_csv('data_pivotedtransfer.csv')

In [4]:
data.head(14)

,Year,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,2006,11820.333333,1548.000000,2638.666667,NaN,NaN,9851.333333,8538.000000,1119.000000,1205.333333,17306.666667,NaN,4342.333333,4762.000000,4896.000000
1,2007,11240.333333,1828.000000,2603.000000,NaN,NaN,10867.333333,9060.000000,1301.000000,1562.666667,17707.666667,NaN,4417.666667,5028.333333,5196.666667
2,2008,12050.000000,2254.000000,2653.333333,NaN,8163.000000,11977.000000,9304.333333,1686.333333,2055.666667,19664.666667,NaN,4460.000000,5372.666667,6188.666667
3,2009,12730.666667,2516.666667,2736.666667,NaN,NaN,12564.666667,9681.666667,2119.333333,2100.000000,20379.666667,NaN,4735.666667,5719.000000,6683.000000
4,2010,13253.333333,2478.333333,2794.666667,NaN,NaN,12053.000000,9834.333333,2218.333333,2017.666667,20947.000000,7200.000000,4850.333333,5934.666667,6830.000000
5,2011,13408.333333,2546.000000,2798.000000,11556.666667,8785.666667,11730.333333,10005.000000,2105.333333,2020.000000,21579.000000,7350.000000,5276.666667,6166.666667,7062.333333
6,2012,13742.333333,2707.000000,2788.666667,12045.000000,8849.000000,12275.000000,10177.666667,2114.000000,2206.333333,22931.666667,7450.000000,5252.666667,6017.666667,7481.333333
7,2013,14615.000000,2869.666667,2914.666667,12403.333333,9057.000000,11843.000000,10300.333333,2202.666667,2130.333333,23721.666667,7650.000000,5539.333333,6095.000000,7668.333333
8,2014,14785.666667,2834.000000,2926.666667,12616.666667,9224.000000,12140.666667,10466.000000,2301.333333,2169.333333,23916.000000,7833.333333,5520.333333,6137.333333,7545.333333
9,2015,15004.000000,3170.000000,3002.000000,12743.333333,9304.000000,12273.666667,10643.000000,2404.333333,2285.666667,23732.333333,7933.333333,6056.666667,6067.666667,7584.666667
10,2016,15298.333333,3433.000000,2904.000000,12840.000000,9785.333333,11756.666667,10804.333333,2529.666667,2341.333333,25214.000000,8000.000000,6052.666667,6186.666667,7575.666667
11,2017,15239.666667,3596.666667,2823.000000,12953.333333,10042.000000,11893.000000,11151.666667,2622.000000,2536.000000,26050.000000,8000.000000,5967.000000,6279.000000,7717.333333
12,2018,15815.000000,3879.333333,2831.666667,13073.333333,10362.000000,13037.000000,11430.333333,2874.666667,2867.666667,27292.000000,8000.000000,6173.666667,6434.333333,8030.666667
13,2019,16320.000000,4300.000000,2753.000000,13230.000000,10692.333333,NaN,NaN,3082.000000,3106.000000,28602.666667,8133.333333,6447.000000,6636.000000,8569.666667

In [5]:
data_noyear = data.drop('Year', axis=1)

In [6]:
data_noyear.head(14)

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,11820.333333,1548.000000,2638.666667,NaN,NaN,9851.333333,8538.000000,1119.000000,1205.333333,17306.666667,NaN,4342.333333,4762.000000,4896.000000
1,11240.333333,1828.000000,2603.000000,NaN,NaN,10867.333333,9060.000000,1301.000000,1562.666667,17707.666667,NaN,4417.666667,5028.333333,5196.666667
2,12050.000000,2254.000000,2653.333333,NaN,8163.000000,11977.000000,9304.333333,1686.333333,2055.666667,19664.666667,NaN,4460.000000,5372.666667,6188.666667
3,12730.666667,2516.666667,2736.666667,NaN,NaN,12564.666667,9681.666667,2119.333333,2100.000000,20379.666667,NaN,4735.666667,5719.000000,6683.000000
4,13253.333333,2478.333333,2794.666667,NaN,NaN,12053.000000,9834.333333,2218.333333,2017.666667,20947.000000,7200.000000,4850.333333,5934.666667,6830.000000
5,13408.333333,2546.000000,2798.000000,11556.666667,8785.666667,11730.333333,10005.000000,2105.333333,2020.000000,21579.000000,7350.000000,5276.666667,6166.666667,7062.333333
6,13742.333333,2707.000000,2788.666667,12045.000000,8849.000000,12275.000000,10177.666667,2114.000000,2206.333333,22931.666667,7450.000000,5252.666667,6017.666667,7481.333333
7,14615.000000,2869.666667,2914.666667,12403.333333,9057.000000,11843.000000,10300.333333,2202.666667,2130.333333,23721.666667,7650.000000,5539.333333,6095.000000,7668.333333
8,14785.666667,2834.000000,2926.666667,12616.666667,9224.000000,12140.666667,10466.000000,2301.333333,2169.333333,23916.000000,7833.333333,5520.333333,6137.333333,7545.333333
9,15004.000000,3170.000000,3002.000000,12743.333333,9304.000000,12273.666667,10643.000000,2404.333333,2285.666667,23732.333333,7933.333333,6056.666667,6067.666667,7584.666667
10,15298.333333,3433.000000,2904.000000,12840.000000,9785.333333,11756.666667,10804.333333,2529.666667,2341.333333,25214.000000,8000.000000,6052.666667,6186.666667,7575.666667
11,15239.666667,3596.666667,2823.000000,12953.333333,10042.000000,11893.000000,11151.666667,2622.000000,2536.000000,26050.000000,8000.000000,5967.000000,6279.000000,7717.333333
12,15815.000000,3879.333333,2831.666667,13073.333333,10362.000000,13037.000000,11430.333333,2874.666667,2867.666667,27292.000000,8000.000000,6173.666667,6434.333333,8030.666667
13,16320.000000,4300.000000,2753.000000,13230.000000,10692.333333,NaN,NaN,3082.000000,3106.000000,28602.666667,8133.333333,6447.000000,6636.000000,8569.666667

In [7]:
data_backforwardfilled=data_noyear.bfill()
data_backforwardfilled

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,11820.333333,1548.000000,2638.666667,11556.666667,8163.000000,9851.333333,8538.000000,1119.000000,1205.333333,17306.666667,7200.000000,4342.333333,4762.000000,4896.000000
1,11240.333333,1828.000000,2603.000000,11556.666667,8163.000000,10867.333333,9060.000000,1301.000000,1562.666667,17707.666667,7200.000000,4417.666667,5028.333333,5196.666667
2,12050.000000,2254.000000,2653.333333,11556.666667,8163.000000,11977.000000,9304.333333,1686.333333,2055.666667,19664.666667,7200.000000,4460.000000,5372.666667,6188.666667
3,12730.666667,2516.666667,2736.666667,11556.666667,8785.666667,12564.666667,9681.666667,2119.333333,2100.000000,20379.666667,7200.000000,4735.666667,5719.000000,6683.000000
4,13253.333333,2478.333333,2794.666667,11556.666667,8785.666667,12053.000000,9834.333333,2218.333333,2017.666667,20947.000000,7200.000000,4850.333333,5934.666667,6830.000000
5,13408.333333,2546.000000,2798.000000,11556.666667,8785.666667,11730.333333,10005.000000,2105.333333,2020.000000,21579.000000,7350.000000,5276.666667,6166.666667,7062.333333
6,13742.333333,2707.000000,2788.666667,12045.000000,8849.000000,12275.000000,10177.666667,2114.000000,2206.333333,22931.666667,7450.000000,5252.666667,6017.666667,7481.333333
7,14615.000000,2869.666667,2914.666667,12403.333333,9057.000000,11843.000000,10300.333333,2202.666667,2130.333333,23721.666667,7650.000000,5539.333333,6095.000000,7668.333333
8,14785.666667,2834.000000,2926.666667,12616.666667,9224.000000,12140.666667,10466.000000,2301.333333,2169.333333,23916.000000,7833.333333,5520.333333,6137.333333,7545.333333
9,15004.000000,3170.000000,3002.000000,12743.333333,9304.000000,12273.666667,10643.000000,2404.333333,2285.666667,23732.333333,7933.333333,6056.666667,6067.666667,7584.666667
10,15298.333333,3433.000000,2904.000000,12840.000000,9785.333333,11756.666667,10804.333333,2529.666667,2341.333333,25214.000000,8000.000000,6052.666667,6186.666667,7575.666667
11,15239.666667,3596.666667,2823.000000,12953.333333,10042.000000,11893.000000,11151.666667,2622.000000,2536.000000,26050.000000,8000.000000,5967.000000,6279.000000,7717.333333
12,15815.000000,3879.333333,2831.666667,13073.333333,10362.000000,13037.000000,11430.333333,2874.666667,2867.666667,27292.000000,8000.000000,6173.666667,6434.333333,8030.666667
13,16320.000000,4300.000000,2753.000000,13230.000000,10692.333333,NaN,NaN,3082.000000,3106.000000,28602.666667,8133.333333,6447.000000,6636.000000,8569.666667
14,NaN,NaN,2908.666667,NaN,NaN,NaN,NaN,3473.666667,NaN,NaN,8466.666667,NaN,NaN,NaN

In [8]:
data_interpolate=data_noyear.interpolate()
data_interpolate

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
0,11820.333333,1548.000000,2638.666667,NaN,NaN,9851.333333,8538.000000,1119.000000,1205.333333,17306.666667,NaN,4342.333333,4762.000000,4896.000000
1,11240.333333,1828.000000,2603.000000,NaN,NaN,10867.333333,9060.000000,1301.000000,1562.666667,17707.666667,NaN,4417.666667,5028.333333,5196.666667
2,12050.000000,2254.000000,2653.333333,NaN,8163.000000,11977.000000,9304.333333,1686.333333,2055.666667,19664.666667,NaN,4460.000000,5372.666667,6188.666667
3,12730.666667,2516.666667,2736.666667,NaN,8370.555556,12564.666667,9681.666667,2119.333333,2100.000000,20379.666667,NaN,4735.666667,5719.000000,6683.000000
4,13253.333333,2478.333333,2794.666667,NaN,8578.111111,12053.000000,9834.333333,2218.333333,2017.666667,20947.000000,7200.000000,4850.333333,5934.666667,6830.000000
5,13408.333333,2546.000000,2798.000000,11556.666667,8785.666667,11730.333333,10005.000000,2105.333333,2020.000000,21579.000000,7350.000000,5276.666667,6166.666667,7062.333333
6,13742.333333,2707.000000,2788.666667,12045.000000,8849.000000,12275.000000,10177.666667,2114.000000,2206.333333,22931.666667,7450.000000,5252.666667,6017.666667,7481.333333
7,14615.000000,2869.666667,2914.666667,12403.333333,9057.000000,11843.000000,10300.333333,2202.666667,2130.333333,23721.666667,7650.000000,5539.333333,6095.000000,7668.333333
8,14785.666667,2834.000000,2926.666667,12616.666667,9224.000000,12140.666667,10466.000000,2301.333333,2169.333333,23916.000000,7833.333333,5520.333333,6137.333333,7545.333333
9,15004.000000,3170.000000,3002.000000,12743.333333,9304.000000,12273.666667,10643.000000,2404.333333,2285.666667,23732.333333,7933.333333,6056.666667,6067.666667,7584.666667
10,15298.333333,3433.000000,2904.000000,12840.000000,9785.333333,11756.666667,10804.333333,2529.666667,2341.333333,25214.000000,8000.000000,6052.666667,6186.666667,7575.666667
11,15239.666667,3596.666667,2823.000000,12953.333333,10042.000000,11893.000000,11151.666667,2622.000000,2536.000000,26050.000000,8000.000000,5967.000000,6279.000000,7717.333333
12,15815.000000,3879.333333,2831.666667,13073.333333,10362.000000,13037.000000,11430.333333,2874.666667,2867.666667,27292.000000,8000.000000,6173.666667,6434.333333,8030.666667
13,16320.000000,4300.000000,2753.000000,13230.000000,10692.333333,13037.000000,11430.333333,3082.000000,3106.000000,28602.666667,8133.333333,6447.000000,6636.000000,8569.666667
14,16320.000000,4300.000000,2908.666667,13230.000000,10692.333333,13037.000000,11430.333333,3473.666667,3106.000000,28602.666667,8466.666667,6447.000000,6636.000000,8569.666667

In [9]:
data_noyear.describe()

,Austria,Estonia,Finland,France,Germany,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovenia,Spain
count,14.000000,14.000000,15.000000,9.000000,10.000000,13.000000,13.000000,15.000000,14.000000,14.000000,11.000000,14.000000,14.000000,14.000000
mean,13951.642857,2854.333333,2805.111111,12606.851852,9426.433333,11866.358974,10107.435897,2276.911111,2186.000000,22788.928571,7819.696970,5363.714286,5916.928571,7073.547619
std,1584.157866,765.567830,115.415651,531.393898,783.031464,785.462360,829.420619,619.285552,472.468784,3396.152119,373.855155,714.494536,527.936884,1040.868536
min,11240.333333,1548.000000,2603.000000,11556.666667,8163.000000,9851.333333,8538.000000,1119.000000,1205.333333,17306.666667,7200.000000,4342.333333,4762.000000,4896.000000
25%,12861.333333,2487.916667,2744.833333,12403.333333,8901.000000,11756.666667,9681.666667,2109.666667,2028.916667,20521.500000,7550.000000,4764.333333,5772.916667,6719.750000
50%,14178.666667,2770.500000,2798.000000,12743.333333,9264.000000,11977.000000,10177.666667,2218.333333,2149.833333,23326.666667,7933.333333,5398.500000,6081.333333,7513.333333
75%,15180.750000,3367.250000,2906.333333,12953.333333,9977.833333,12273.666667,10643.000000,2575.833333,2327.416667,24889.500000,8000.000000,6031.250000,6181.666667,7647.416667
max,16320.000000,4300.000000,3002.000000,13230.000000,10692.333333,13037.000000,11430.333333,3473.666667,3106.000000,28602.666667,8466.666667,6447.000000,6636.000000,8569.666667

EURO_COUNTRIES = ['Austria', 'Estonia', 'Finland', 'France', 'Germany', 'Ireland','Italy', 'Latvia','Lithuania','Luxembourg', 'Netherlands', 'Portugal','Slovenia','Spain']

In [19]:
len(data_backfilled_missingdropped['Spain'])
#14 countries, 13 rows, 182 variables

13

In [10]:
data_backfilled_missingdropped=data_backforwardfilled.dropna()

In [11]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Austria'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -1.76
Critial Values:
   1%, -4.33
Critial Values:
   5%, -3.23
Critial Values:
   10%, -2.75

p-value: 0.40
Stationary

In [12]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Estonia'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 0.83
Critial Values:
   1%, -4.33
Critial Values:
   5%, -3.23
Critial Values:
   10%, -2.75

p-value: 0.99
Stationary

In [13]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Finland'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -1.45
Critial Values:
   1%, -4.14
Critial Values:
   5%, -3.15
Critial Values:
   10%, -2.71

p-value: 0.56
Stationary

In [14]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['France'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 0.39
Critial Values:
   1%, -4.14
Critial Values:
   5%, -3.15
Critial Values:
   10%, -2.71

p-value: 0.98
Stationary

In [15]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Germany'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 0.66
Critial Values:
   1%, -4.33
Critial Values:
   5%, -3.23
Critial Values:
   10%, -2.75

p-value: 0.99
Stationary

In [16]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Ireland'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -2.49
Critial Values:
   1%, -4.67
Critial Values:
   5%, -3.37
Critial Values:
   10%, -2.80

p-value: 0.12
Stationary

In [17]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Italy'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: 3.00
Critial Values:
   1%, -4.67
Critial Values:
   5%, -3.37
Critial Values:
   10%, -2.80

p-value: 1.00
Stationary

In [18]:
from statsmodels.tsa.stattools import adfuller
t_stat, p_value, _, _, critical_values, _  = adfuller(data_backfilled_missingdropped['Spain'].values, autolag='AIC')
print(f'ADF Statistic: {t_stat:.2f}')
for key, value in critical_values.items():
     print('Critial Values:')
     print(f'   {key}, {value:.2f}')
    
print(f'\np-value: {p_value:.2f}')
print("Stationary") if p_value > 0.05 else print("Non-Stationary")

ADF Statistic: -1.76
Critial Values:
   1%, -4.33
Critial Values:
   5%, -3.23
Critial Values:
   10%, -2.75

p-value: 0.40
Stationary